<div class="banner-home">
  <div class="banner-text">
    <h1>Estimate any real estate asset</h1>
    <h2>Accurate. Instant. Free.</h2>
    <%= link_to "Start Now", new_project_path, class: "btn-white" %>
  </div>
</div>
<div class="container-landing" id= "about">
  <div class="container-steps-all">
    <h3>HOW IT WORKS</h3>
    <div class="container-steps">
      <div class="container-step">
        <div id="form-img">
          <%= image_tag ("form-copy.svg") %>
          <!-- <i class="fas fa-file-alt fa-5x"></i> -->
        </div>
        <div>
          <p class="step-text">Answer a one-minute form</p>
        </div>
      </div>
      <div class="container-step">
        <div id="search-img">
          <%= image_tag ("search-copy.svg") %>
          <!-- <i class="fas fa-search fa-5x"></i> -->
        </div>
        <div>
          <p class="step-text">We search over +100k similar properties</p>
        </div>
      </div>
      <div class="container-step">
        <div id="result-img">
          <%= image_tag ("calculator-copy.svg") %>
          <!-- <i class="fas fa-dollar-sign fa-5x"></i> -->
        </div>
        <div>
          <p class="step-text">You get an instant estimate of your property</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-avantages">
    <div class="container-avantage">
      <div class="container-avantage-img-left">
      </div>
      <div class="container-avantage-text-left">
        <h3>ACCURATE ESTIMATE</h3>
        <p>Our platform scans more than 150k real estate ads every day. This allows us to build the most precise estimate possible for your asset.</p>
      </div>
    </div>
    <div class="container-avantage">
      <div class="container-avantage-text-right">
        <h3>INSTANT RESULT</h3>
        <p>Best opportunities don’t last ! This is why we made sure you get your estimate immediately.</p>
      </div>
      <div class="container-avantage-img-right">
      </div>
    </div>
    <div class="container-avantage">
      <div class="container-avantage-img-left-2">
      </div>
      <div class="container-avantage-text-left">
        <h3>BUDGET CONTROL</h3>
        <p>Thanks to our « extra expenses » calculator, you are able to see exactly how much you will need to spend in order to acquire a given real estate asset.</p>
      </div>
    </div>
    <div class="container-avantage">
      <div class="container-avantage-text-right">
        <h3>CLEAR DASHBOARD</h3>
        <p>Manage all your estimates in one dashboard. Upload pictures, edit information and keep track of all your assets in one place.</p>
      </div>
      <div class="container-avantage-img-right-2">
      </div>
    </div>
    <div class="container-avantage">
      <div class="container-avantage-img-left-3">
      </div>
      <div class="container-avantage-text-left">
        <h3>ESTIMATE TRACKER</h3>
        <p>You are the owner of the asset you want an estimate for ? Track the evolution of its market price throughout time.</p>
      </div>
    </div>
  </div>
</div>




