<div class="banner-home">
  <div class="banner-text">
    <h1>Estimate any real estate project</h1>
    <h2>Accurate. Instant. Free.</h2>
    <%= link_to "Start now !", new_project_path, class: "btn-white" %>
  </div>
</div>
<div class="container-landing" id= "about">
  <h3>How it works</h3>
  <div class="container-steps">
    <div class="container-step">
      <div>
        <i class="fas fa-file-alt fa-5x"></i>
      </div>
      <div>
        <p class="step-text">Answer a one-minute form</p>
      </div>
    </div>
    <div class="container-step">
      <div>
        <i class="fas fa-search fa-5x"></i>
      </div>
      <div>
        <p class="step-text">We search over +100k similar properties</p>
      </div>
    </div>
    <div class="container-step">
      <div>
        <i class="fas fa-dollar-sign fa-5x"></i>
      </div>
      <div>
        <p class="step-text">You get an instant estimate of your property</p>
      </div>
    </div>
  </div>
</div>
