<div class="banner-home">
  <h1>Estimate any real estate project</h1>
  <h2>Accurate. Instant. Free.</h2>
  <%= link_to "Start", new_project_path, class: "btn-green" %>
</div>
<div class="container-landing">
  <h3>How it works</h3>
  <div class="container-steps">
    <div class="container-step">
      <i class="fas fa-file-alt fa-3x"></i>
      <p class="step-text">Answer a<br>one-minute form</p>
    </div>
    <div class="container-step">
      <i class="fas fa-search fa-3x"></i>
      <p class="step-text">We search over +100k similar properties</p>
    </div>
    <div class="container-step">
      <i class="fas fa-dollar-sign fa-3x"></i>
      <p class="step-text">You get an instant estimate of your property</p>
    </div>
  </div>
</div>
