function updateDOM() {
  const investmentDiv = document.getElementById("new_investment_calculation");
  investmentDiv.innerHTML = `
    <p>For this asset, the average rental market is <%= @roi_service.rental_market_price %> €. /month
    You desire to have a <%= @desired_rate %> rate of return on investment.
    On a base of this ROI, the estimate of the buying price should be
    <%= @total_investment %> </p>
  `
}
updateDOM()

