function updateDOM() {
  const loanDiv = document.getElementById("loan-calculation");
  loanDiv.innerHTML = `
    <p>For a total market price of <%= number_to_currency(@estimate.market_price, unit:"€", precision: 0, delimiter: ".") %>
    you will pay <%= number_to_currency(@credit_cost, unit:"€", precision: 0, delimiter: ".") %> over the course of <%= @loan_years %> years. It means a monthly payment of <%= number_to_currency(((@estimate.market_price + @credit_cost) / (@loan_years * 12)).round(1), precision: 0, delimiter: ".") %>.</p>   `
}

updateDOM()
