function updateDOM() {
  const investmentDiv = document.getElementById("new_investment_calculation");
  investmentDiv.innerHTML = `
    <% unless @roi_service.rental_market_price == 1 %>
      <p>For this asset, the average rent is <%= number_to_currency(@roi_service.rental_market_price, unit:"€", precision: 0, delimiter: ".") %>/month.
      For a ROI of <%= @desired_rate %>% the estimated buying price should be
      <%= number_to_currency(@total_investment, unit:"€", precision: 0, delimiter: ".") %> </p>
    <%else%>
      <p>
        We could not calculate the ROI on this asset.
      </p>
    <% end %>
  `
}
updateDOM()

