function updateDOM() {
  const loanDiv = document.getElementById("loan-calculation");
  loanDiv.innerHTML = `
    <div class="padding-loan">
    <p>Monthly payment : <strong><%= number_to_currency(((@loan_amount + @credit_cost) / (@loan_years * 12)).round(1), unit:"€", precision: 0, delimiter: ".") %></strong></p>
    </div>   `

}

console.log("hiii");
updateDOM();
