function updateDOM() {
  const investmentDiv = document.getElementById("new_investment_calculation");
  investmentDiv.innerHTML = `
    <div class="back-card-text">
      <p>Average rental market: <strong><%= @roi_service.rental_market_price %> €/month</strong></p>
      <p>Desired ROI: <strong><%= @desired_rate.to_i %>%</strong></p>
      <p>Total investiment: <strong><%= @total_investment.to_i %>€</strong></p>
      <p>Bid to seller: <strong><%= ((@total_investment - @roi_service.renovation_price) / 1.15).to_i %>€</strong></p>
    </div>
  `
}
updateDOM()

