.btn-green {
    padding: 0.3rem 2rem;
    font-size: 15px;
    background-color: white;
    border-radius: 50px;
    color: #095228;
    text-decoration: none;
}

.btn-green:hover {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #095228;
}
