.btn-white {
    padding: 0.6rem 2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    color: #191716;
    text-decoration: none;
    opacity: 1;
}

.btn-white:hover {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #191716;
    opacity: 0.8;
}

.btn-green {
    padding: 0.6rem 2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: #20BC62;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-green:hover {
    font-size: 15px;
    font-weight: bold;
    background-color: #14453D;
    text-decoration: none;
    color: white;
}

#edit-btn {
  position: absolute !important;
  top: 1.3rem;
  right: 1rem;
  font-size: 13px;
  color: #878787;
}

#edit-btn:hover {
  color: black;
}

#delete-btn {
  position: absolute !important;
  top: 1.3rem;
  right: 2.5rem;
  font-size: 13px;
  color: #878787;
}

#delete-btn:hover {
  color: black;
}
