.container-landing {
  width: 66.6%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

// .container-landing h3 {
//   margin: 2rem 0rem 0.5rem 0rem;
// }

.container-steps-all {
  margin: 3rem 0rem 5rem 0rem;
}

.carousel-inner {
  max-height: 12rem !important;
}

.container-steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-around;
  margin-top: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2.5rem;
}

.container-step {
  margin: 0 auto;
  width: 70%;
  color: #095228;
  font-size: 10px;
}

.container-step img {
  height: 4rem;
  margin-bottom: 1rem;
}

.step-text {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}

.step-text p {
  color: #095228;
}

.fas {
  margin-bottom: 1rem;
}

.container-form {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 130px;
  padding-bottom: 50px;
}

.container-avantages {
  width: 100%;
  margin-top: 5rem;
}

.container-avantage-text-right {
  text-align: right;
  margin-top: 3rem;
  width: 50%;
}

.container-avantage-text-left {
  text-align: left;
  margin-top: 3rem;
  width: 50%;
}

.container-avantage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4rem 0rem;
}

.container-avantage-img-left {
  width: 50%;
  height: 15rem;
  background-image: url(https://images.unsplash.com/photo-1464600923926-4ff72f9505f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-right: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-avantage-img-right {
  width: 50%;
  height: 15rem;
  background-image: url(https://images.unsplash.com/photo-1517732747537-877644b96f8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-avantage-img-left-2 {
  width: 50%;
  height: 15rem;
  background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-right: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-avantage-img-right-2 {
  width: 50%;
  height: 15rem;
  background-image: url(https://images.unsplash.com/photo-1481026469463-66327c86e544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=824&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-avantage-img-left-3 {
  width: 50%;
  height: 15rem;
  background-image: url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-right: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
