h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 64px;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  // font-weight: bold;
  font-size: 36px;
  color: white;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #095228;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: $color-green;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
