.margin-row {
  margin: 6rem 0rem;
}

.form-style {
    width: 45%;
    background-color: white;
    box-shadow: 0px 1px 3px #7B7676;
    padding: 30px 50px 30px 50px;
    /* margin: 6rem 0rem 3rem 0rem; */
    border-radius: 22px;
}

.form-style h3 {
  text-align: center;
}

#form-simple-estimate {
  position: relative;
  top: -37rem;
}

#renovation-title-form {
margin-bottom: 1rem;
}

.simple_form label {
  font-family: sans-serif;
  display: block;
  font-weight: bold;
  color: #1A1D1A;
}

.simple_form input {
  font-family: sans-serif;
  display: block;
  font-weight: normal;
  // border-color: #60bd63;
  color: #808080;
  border-radius: 4px;
}

#input-form-style {
  font-weight: normal;
}

.input-checkbox-flex {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.input-short-flex {
  display: flex;
  justify-content: space-between;
}

#form-login {
 position: relative;
 top: -33rem;
}

#form-signup {
  position: relative;
  top: -39rem;
}

